<%= form_for(@employee)  do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br />
    <%= f.text_field :contact_info %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>
   <div class="field" id="select_skills">
   <%= f.label :skill %><br /> 
   <%= f.select :skill_ids, Skill.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  </div> 
  <div >
  <%= link_to "Create a new skill", new_skill_path, :remote => true, :method => :post, :onclick=>"window.open(this.href,'create_skill', 'height=300, width=300');return false;" 
   %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
