<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Contact info</th>
    <th>Status</th>
    <th>Salary</th>
    <th>Skills</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>   
    <td><%= employee.name %></td>
    <td><%= employee.contact_info %></td>
    <td><%= employee.status %></td>
    <td><%= employee.salary %></td>
    <td><%= employee.skills.collect {|x| [x.name]} %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Employee', new_employee_path %>
<%= will_paginate @employees %>