<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Contact info:</b>
  <%= @employee.contact_info %>
</p>

<p>
  <b>Status:</b>
  <%= @employee.status %>
</p>

<p>
  <b>Salary:</b>
  <%= @employee.salary %>
</p>

<p>
  <b>Skills:</b>  
  <%= @employee.skills.collect {|x| [x.name]} %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %> |
<%= link_to 'Find Vacancies',
 :controller => "vacancies",
 :action => "index",
 :direction => "desc",
 :sort => "Salary", 
 :employee => @employee.id,
 :skills => @employee.skills %>
