<%= form_for(@vacancy) do |f| %>
  <% if @vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% @vacancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :creationDate %><br />
    <%= f.date_select :creationDate %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br />
    <%= f.text_field :expiration %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br />
    <%= f.text_field :contact_info %>
  </div>
   <div class="field">
   <%= f.label :skill %><br /> 
   <%= f.select :skill_ids, Skill.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :remote => true %>
  </div>  
  <div class="actions"> 
  <%= link_to "Create a new skill", new_skill_path, :remote => true, :method => :post, :onclick=>"window.open(this.href,'create_skill', 'height=300, width=300');return false;" 
   %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
