<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th>Position</th>
    <th>Creationdate</th>
    <th>Expiration</th>
    <th><%= sortable "Salary" %></th>
    <th>Contact info</th>
    <th>Skills</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vacancies.each do |vacancy| %>
  <tr>
    <td><%= vacancy.position %></td>
    <td><%= vacancy.creationDate %></td>
    <td><%= vacancy.expiration %></td>
    <td><%= vacancy.salary %></td>
    <td><%= vacancy.contact_info %></td>
     <td><%= vacancy.skills.collect {|x| [x.name]} %></td>
    <td><%= link_to 'Show', vacancy %></td>
    <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
    <td><%= link_to 'Destroy', vacancy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @vacancies %>
