<h1>Listing vacancies</h1>	

<%= form_tag vacancies_path, :method => 'get', :id => "vacancies_search" do %>
<p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :position => nil %>
  </p>
  <div id="vacancies"><%= render 'vacancies' %></div>
<% end %>

<br />

<%= link_to 'New Vacancy', new_vacancy_path %>

