<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @vacancy.position %>
</p>

<p>
  <b>Creationdate:</b>
  <%= @vacancy.creationDate %>
</p>

<p>
  <b>Expiration:</b>
  <%= @vacancy.expiration %>
</p>

<p>
  <b>Salary:</b>
  <%= @vacancy.salary %>
</p>

<p>
  <b>Contact info:</b>
  <%= @vacancy.contact_info %>
</p>

<p>
  <b>Skills:</b>
  <%= @vacancy.skills.collect {|x| [x.name]} %>
</p>


<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %> |
<%= link_to 'Find All Employees', vacancy_employees_path(@vacancy)%>



