<h1>Staff Agency</h1> 

<table>
<tr>
<td><%= link_to "View my vacancies", vacancies_path %> </td>
<td><%= link_to "Create new vacancy", new_vacancy_path %> </td>
<tr>
<td><%= link_to "View employees", employees_path %> </td>
<td><%= link_to "Create new employee", new_employee_path %></td>
</tr>
<tr>
<td><%= link_to "View skills", skills_path %></td>
<td><%= link_to "View skills table", skills_path %></td> 
<td><%= link_to "Add new skill", new_skill_path %></td>
</tr>
</table>